.urlInput{
  text-align: center;
  padding: 2rem 0;
  input {
    width: 80%;
    padding: 2px;
    outline: none;
  }
  button {
    width: 20%;
    padding: 0;
    border-radius: 0;
  }
  input, button {
    border: 0;
    &:focus {
      outline: none;
    }
  }
}
