.player {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;

  .art-overlay {
    background-size: cover !important;
  }

  .title,
  .artist {
    text-transform: uppercase;
    font-family: 'Monda', sans-serif;
    font-weight: 800;

  }

  .title {
    font-size: 3rem;
  }

  p {
    font-family: 'Monda', sans-serif;
  }

  .artwork {
    img {
      // import variables!
      @media (min-width: 768px) {
        min-width: 0;
      }
    }
  }
  .main-controls {
    padding: 2rem;
    max-height: 300px;
    overflow: scroll;
    button {
      padding: 0.6rem 3rem;
    }

    .playback-rate-value {
      font-size: 4rem;
      text-align: center;
    }
  }
}
